In [1]:
1+1

2

In [2]:
9**2 # power

81

In [3]:
9/2

4.5

In [4]:
9//2 ## floor division

4

## List

In [5]:
a = []
type(a)

list

In [1]:
a = ["hello",1,2,3,5]

In [2]:
a.append([9,0])

In [3]:
a

['hello', 1, 2, 3, 5, [9, 0]]

In [4]:
a.extend([11,12])

In [5]:
a

['hello', 1, 2, 3, 5, [9, 0], 11, 12]

In [6]:
a[5][1]

0

In [7]:
a.pop(5)

[9, 0]

In [8]:
a

['hello', 1, 2, 3, 5, 11, 12]

In [9]:
a.append([9,0])

In [10]:
a.pop([5][0])

11

In [11]:
a

['hello', 1, 2, 3, 5, 12, [9, 0]]

In [12]:
a[0] = "hello dear" ## changing list element on access --- Lists are MUTABLE
a

['hello dear', 1, 2, 3, 5, 12, [9, 0]]

In [13]:
a

['hello dear', 1, 2, 3, 5, 12, [9, 0]]

In [14]:
a.append([9,0])

In [15]:
a

['hello dear', 1, 2, 3, 5, 12, [9, 0], [9, 0]]

In [16]:
a[6].pop(0) ## pops only the element at index-0 from a nested list at index-6

9

In [17]:
a

['hello dear', 1, 2, 3, 5, 12, [0], [9, 0]]

In [18]:
a[6].extend([9]) #3 add element to the nested list at index -6

In [22]:
a[:3]

['hello dear', 1, 2]

##  Tuple

In [20]:
b = (1,2,33,4,)
b

(1, 2, 33, 4)

In [39]:
b = (1,1,2,3,4)        ## we can change the entire tuple elements by reassigning the variable.
b

(1, 1, 2, 3, 4)

In [36]:
b[1] = 8           ## ERROR !       
b                  ## tuple' object does not support item assignment hence tuples don't have append() and extend()

TypeError: 'tuple' object does not support item assignment

In [40]:
b.count(1)  ## counts the number of element provided

2

In [ ]:
b[3]

In [23]:
x = range(6)
x

range(0, 6)

## Write a program to demonstrate different number data types in Python.

In [27]:
a = 10     # int
b = 11.5   # float
c = 2.05j  # complex 
print("a is Type " ,type(a))
print("b is Type ", type(b))
print("c is Type ", type(c))

a is Type  <class 'int'>
b is Type  <class 'float'>
c is Type  <class 'complex'>

## Write a program to perform different Arithmetic Operations on numbers in Python.

In [28]:
a = int(input("Enter a value"))   # input() takes runtime input from user.
b = int(input("enter a value")) #  int typecasts the input value to int.
print("Addition of a and b = ", a+b) # addition operation.
print("Subtraction of a and b = ", a-b)
print("Multiplication of a and b = ", a*b)
print("dvision of a and b = ", a/b)
print("remainder when  a divided by b = ", a%b)
print("exponenet of a and b = ", a**b) # power operator
print("floor division of a and b = ", a//b)

Enter a value10
enter a value5
Addition of a and b =  15
Subtraction of a and b =  5
Multiplication of a and b =  50
dvision of a and b =  2.0
remainder when  a divided by b =  0
exponenet of a and b =  100000
floor division of a and b =  2

## 3. Write a program to create, concatenate and print a string and accessing sub-string from a given string.

In [29]:
str1 = input("Enter a string  ")
str2 = input("Enter a String  ")
print("First String", str1)
print("Second String", str2)
print("Concatenation of two strings", str1 + str2)
print("Substring of a given string", str1[1:4])

Enter a stringHello
Enter a StringEveryone
First String Hello
Second String Everyone
Concatenation of two strings HelloEveryone
Substring of a given string ell

## Write a python script to print the current date in the following format “Sun May 29 02:26:23 IST 2017”

In [33]:
import time
local_time = time.localtime()
print(time.strftime("%a %b %d %H:%M:%S %Z %Y ", local_time))

'''
%a - abbreviated day name
%b - abbreviated month name
%d - day of the month as decimal(0,31)
%H - hour in 24 hr system(0,24)
%M - minute(0,59)
%S - second(0,59)
%Z - Time Zone
%Y - Year '''

Wed Aug 04 13:31:01 IST 2021

'\n%a - abbreviated day name\n%b - abbreviated month name\n%d - day of the month as decimal(0,31)\n%H - hour in 24 hr system(0,24)\n%M - minute(0,59)\n%S - second(0,59)\n%Z - Time Zone\n%Y - Year '

## Write a program to create, append, and remove lists in python.

In [48]:
my_list = [] # empty list
my_list_num = [1,2,3,45,5] # list of integers
my_list_mixed = ["Hello", 2.5, 1,2,4] # list of mixed data types
my_list_nested = ["Hello", 1, 2.5, [4,7,8],['a']] # nested list 
odd = [1,3,5]
odd.append(7) # appending at the end of the list
odd.extend([9,11]) # extending elements of list odd
print(odd)
even =[2,4,6]
num = even + odd   # conacatenating list using + operator
print(num)
odd.remove(3) # removes the item with given value 
print(odd)
odd.pop(3) # removes the item at given index
print(odd)

[1, 3, 5, 7, 9, 11]
[2, 4, 6, 1, 3, 5, 7, 9, 11]
[1, 5, 7, 9, 11]
[1, 5, 7, 11]

##  Write a program to demonstrate working with tuples in python

In [52]:
my_tuple = ()  # empty tuple
print(my_tuple) 
my_tuple_int =(1,2,3,45,6,6) # tuple with only integers
print(my_tuple_int)
my_tuple_mix = ("hello", 2,4.8, 'a') # tuple having elements of mixed datatypes
print(my_tuple_mix) 
my_tuple_nested = ("hello", 91,34,(3,2.7), ['a','b']) # nested tuple
print(my_tuple_nested)

# tuple can be created without bracket also.

my_tup = 1,3,4.5,"cat"  # tuple without bracket-- tuple packing
print(my_tup)
a,b,c,d = my_tup # tuple unpacking
print(a)
print(b)
print(c)
print(d)

tup = (1) # not a tuple--- 
print("type of tup " ,type(tup))
tup1 = (1,) # is a tuple
print("type of tup1 ",type(tup1))

()
(1, 2, 3, 45, 6, 6)
('hello', 2, 4.8, 'a')
('hello', 91, 34, (3, 2.7), ['a', 'b'])
(1, 3, 4.5, 'cat')
1
3
4.5
cat
type of tup  <class 'int'>
type of tup1  <class 'tuple'>

##  Write a program to demonstrate working with dictionaries in python.

In [55]:
my_dict = {} # empty dictionary
my_dict_int = {1:"apple",2:"mango",3:"banana"}  # dictionary with integer keys
my_dict_mix = {"name": "John", 2: [265,356,465]}  # dictionary with mixed datatype keys
my_dict = dict({1:"apple",2:"mango",3:"banana"}) # using dict
print(my_dict_mix["name"])
print(my_dict_mix.get(2))

John
[265, 356, 465]

##  Write a python program to find largest of three numbers.

In [58]:
a = int(input("enter a value "))
b = int(input("enter a value "))
c = int(input("enter a value "))
if a > b and a > c:
    largest = a
if b > a and b > c:
    largest = b
else:
    largest = c
print("the largest number is ", largest)

enter a value 32
enter a value 65
enter a value 21
the largest number is  65

## Write a Python program to convert temperatures to and from Celsius, Fahrenheit. [ Formula: c = (f-32)(5/9)

In [60]:
temp = float(input("enter the temperature value : "))
unit = input("enter the unit of temperature e.g 'C' for Celcius & 'F' for Farenheit")
if unit == 'C' or unit == 'c':
    temp_converted = 9/5 * temp + 32
    print(" temperature in Farenfeit = ", temp_converted)
elif unit == 'F' or unit == 'f':
    temp_converted = 5/9 * (temp - 32)
    print("temperature in Celcius ", temp_converted)
else: 
    print("unknown unit ! ")

enter the temperature value : 98.6
enter the unit of temperature e.g 'C' for Celcius & 'F' for Farenheitf
temperature in Celcius  37.0

## Write a Python program to construct the following pattern, using a nested for loop

##  x
##    xx
##    xxx
##    xxxx
##    xxxxx
##    xxxx
##    xxx
##    xx
##   x

In [79]:
n = 5
for x in range(n):
    for y in range(x):
        print("x",end="")
    print(" ")

for x in range(n,0,-1):
    for y in range(x):
        print("x",end="")
    print(" ")

x
xx
xxx
xxxx
xxxxx
xxxx
xxx
xx
x

## Write a Python script that prints prime numbers less than 20

In [21]:
first = int(input("Enter the start number: "))
last = int(input("Enter the last number: "))
for x in range(first,last):
    if x > 1:  
        for i in range(2,x):  
            if (x % i) == 0:  
                print(x,"is not a prime number")  
                print(i,"times",x//i,"is",x)  # x//i gives the floor division of eg. 3//2=1
                break  
    
            
             
        else:  
            print(x,"is a prime number")

Enter the start number: 2
Enter the last number: 20
2 is a prime number
3 is a prime number
4 is not a prime number
2 times 2 is 4
5 is a prime number
6 is not a prime number
2 times 3 is 6
7 is a prime number
8 is not a prime number
2 times 4 is 8
9 is not a prime number
3 times 3 is 9
10 is not a prime number
2 times 5 is 10
11 is a prime number
12 is not a prime number
2 times 6 is 12
13 is a prime number
14 is not a prime number
2 times 7 is 14
15 is not a prime number
3 times 5 is 15
16 is not a prime number
2 times 8 is 16
17 is a prime number
18 is not a prime number
2 times 9 is 18
19 is a prime number

## Write a python program to find factorial of a number using Recursion

In [28]:
def factorial_recurr(n): # defining the recursive function
    if n == 1:
         return n
    else:
        return n*factorial_recurr(n-1)
    
num = int(input("enter a number")) # take input from the user
if num < 0:     # check for negative number
    print("Please enter a positive number, negative numbers dont have factorials!")
elif num == 0:  # check if number is 0
    print("The factorial of 0 is 1")
else:
    print("The factorial of",num," is", factorial_recurr(num))  # calling the function

enter a number3
The factorial of 3  is 6

## 13. Write a program that accepts the lengths of three sides of a triangle as inputs. The program output should indicate whether or not the triangle is a right triangle (Recall from the Pythagorean Theorem that in a right triangle, the square of one side equals the sum of the squares of the other two sides).

In [31]:
base = int(input("enter the side base of the triangle" ))
hypo = int(input("enter the side hypotenuse of the triangle "))
perp = int(input("enter the side perpendicular of the triangle "))
if hypo**2 == ((base**2)+(perp**2)):
    print("This will make a right angled triangle")
else: 
    print("this will not form a right angled triangle")

enter the side base of the triangle3
enter the side hypotenuse of the triangle 5
enter the side perpendicular of the triangle 4
This will make a right angled triangle

## Write a python program to define a module to find Fibonacci Numbers and import the module to another program.

In [34]:
def fib(n):  # write a fibonacci series up to n
    a,b = 0,1
    while b < n:
        print(b , end="")
        a,b = b, a+b
    print()
    
def fib2(n):  # write a fibonacci series upto n
    result = []
    a, b = 0,1
    while b < n:
        result.append(b)
        a,b = b, a+b
        return result

In [35]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

## Write a code to check if the string in input_str starts with a vowel or not. Print capital YES or NO. For example, if input_str = 'analytics' then, your output should print 'YES'.

In [7]:
input_str = input("Enter a word : ")
print(input_str)

if input_str[0].lower() in ['a','e','i','o','u']:
    print("YES")
else:
    print("NO")

Enter a word : Alligator
Alligator
YES

## You are given a list of string elements and asked to return a list which contains each element of the string in title case or in other words first character of the string would be in upper case and remaining all characters in lower caseSample 
Input: ['VARMA', 'raj', 'Gupta', 'SaNdeeP'
Output: ['Varma', 'Raj', 'Gupta', 'Sandeep']

In [10]:
input_list = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']
output_list = []
for x in input_list:
    y = x.title()
    output_list.append(y)
print(output_list)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [18]:
# Which of the following would create a list of negative even numbers from -100 to 0.
#(- 100 included and 0 not included)?
a =list(range(-100, -1, 2))
print(a)
b = list(range(-100, -1, 2))
print(b)
c = sorted(set(range(-2, -101, -2)))
print(c)
d = list(range(0, -101, 2)) 
print(d)


# answer -- a,b and c

[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]
[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]
[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]
[]

In [21]:
# # Example on list comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a list consisting of length of each element from the above list
l2 = [len(i) for i in l1]  ## i-2 for not counting the ""
print(l2)

[11, 5, 4, 6, 14]

## You are given an integer 'n' as the input. Create a list comprehension containing the squares of the integers from 1 till n^2 (including 1 and n), and print the list.For example, if the input is 4, the output should be a list as follows:

[1, 4, 9, 16]

In [23]:
n = int(input("Enter a number: "))
o_list = []
for i in range(1,n+1):
    o_list.append(i**2)
print(o_list)

Enter a number: 5
[1, 4, 9, 16, 25]

## List comprehension

#### You are given an integer 'n' as the input. Create a list comprehension containing the squares of the integers from 1 till n^2 (including 1 and n), and print the list.For example, if the input is 4, the output should be a list as follows:

In [26]:
n = int(input("Enter a number: "))
L = [n*n for n in range(1,n+1)]     # value of n = 1,2,3,4.... o n*n = 1*1 ,2*2 and so on..it squares   
print(L)

Enter a number: 8
[1, 4, 9, 16, 25, 36, 49, 64]

#### Extract the words that start with a vowel from a list input_list=[wood, old, apple, big, item, euphoria] 
Sample Input: ['wood','old','apple','big','item','euphoria']

Sample Output: ﻿['old', 'apple', 'item', 'euphoria']

In [32]:
input_list = ['wood','old','apple','big','item','euphoria']
output_list = [i for i in input_list if i[0] in 'aeiou' ]
print(output_list)

['old', 'apple', 'item', 'euphoria']

##  Disctionary Comprehension

In [27]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list
#dict = {key1:value1, key2:value2,.................}
d = {len(i):i for i in l1}

print(d)

{11: 'automobiles', 5: 'Honda', 4: 'Benz', 6: 'Suzuki', 14: 'Morris Garages'}

### Following is the code to create a dictionary where the keys are multiples of 3 among the first 100 natural numbers and each value is the cube of the key.

In [33]:
dict_num = {i : i**3 for i in range(1,100) if (i%3) == 0}
print(dict_num)

{3: 27, 6: 216, 9: 729, 12: 1728, 15: 3375, 18: 5832, 21: 9261, 24: 13824, 27: 19683, 30: 27000, 33: 35937, 36: 46656, 39: 59319, 42: 74088, 45: 91125, 48: 110592, 51: 132651, 54: 157464, 57: 185193, 60: 216000, 63: 250047, 66: 287496, 69: 328509, 72: 373248, 75: 421875, 78: 474552, 81: 531441, 84: 592704, 87: 658503, 90: 729000, 93: 804357, 96: 884736, 99: 970299}

## Set Comprehensions
Ex . Write a program which takes a word as input from user and returns vowels from the word

In [31]:
word =input("Enter a word: ")
vowels ={i for i in word if i in "aeiou"} # {} signifies its a set, if you give []--it will be taken as a list and there can be duplicates.
print(vowels)

Enter a word: educationeductaion
{'e', 'o', 'a', 'u', 'i'}

In [34]:
## output of following code:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [35]:
print('a'*5)

aaaaa

In [36]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [40]:
# open arguments
def var_func(*args):
    print(args)
    
var_func("hello",1,6)

('hello', 1, 6)

### Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.

If x = 2 and y= 3, then the output should be 3.

Sample Input: ['9','3']

Sample Output: 9

In [42]:
greater = lambda a , b : a if a>b else b
greater(8,7)

8

In [43]:
# map function
countries = ["India", "Japan", "Italy", "France"]
# map the list to obtain the names of countries in upper case
list(map(lambda x:x.upper(),countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

In [47]:
# filter--- filter the countries names starting with "I"
list(filter(lambda x : x.startswith("I"),countries))
#list(filter(lambda x: x[0]=='I', countries))

['India', 'Italy']

In [48]:
# reduce --reduce the list to concatante the countries names into a single string variable seperated by " "
from functools import reduce
reduce(lambda x, y: x + " " + y, countries)

'India Japan Italy France'

In [51]:
L1 = [2,4,5]
print(map(lambda x: x**2, L1))
list(map(lambda x: x**2, L1))

<map object at 0x7fcd56daef60>

[4, 16, 25]

In [55]:
# defining afunction and using it in map
L1 = [2,4,5]
def squareit(n):
    return n**2
list(map(squareit,L1))

[4, 16, 25]

In [ ]:
# Filter function to return the multiples of 3
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list)
print(list(div))

In [56]:
# Write a python program to count the students above age 18
students_data = {1:['Sam', 15] , 2:['Sharma',18], 3:['Saina', 16], 4:['Saif',19], 5:['Varun',20]}

len(list(filter(lambda x : x[1] > 18, students_data.values())))

2