### Description: Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

In [4]:
input_list = ['SAS','R','PYTHON','SPSS']
input_list.pop() # pop() will remove the last element frm the list
print("After removing SPSS ,thr input list is now: ",input_list)
input_list.append('SPARK')  # now append the list
print("Now ater adding SPARK, the new list is ", input_list)

After removing SPSS ,thr input list is now:  ['SAS', 'R', 'PYTHON']
Now ater adding SPARK, the new list is  ['SAS', 'R', 'PYTHON', 'SPARK']

### Description: Convert a string input_str = 'I love Data Science & Python' to a list by splitting it on ‘&’. The sample output for this string will be:       ['I' ,'love','Data','Science','&','Python']

In [7]:
input_str = 'I love Data Science & Python'
print("the input string is : ", input_str)
str_list = []   # create an empty list
# splitting the string 
for word in input_str.split(" "):
    str_list.append(word)   # appending every split word int the list
print("the converted list is: ",str_list)

te input string is :  I love Data Science & Python
the converted list is:  ['I', 'love', 'Data', 'Science', '&', 'Python']

### Description: Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:

In [8]:
ls = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
merged_str = ls[0] + ' & '+ls[1]
print("The new string: ",merged_str)

The new string:  Pythons syntax is easy to learn & Pythons syntax is very clear

### Description: Extract 'Python' from a nested list   .input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [10]:
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
print(input_list[2][0])  # extracts the 0th index element from the 2nd index element of a nested list.

Python

### Description: t = ("disco", 12, 4.5) .What is the output of: t[0][2]

In [11]:
t = ("disco", 12, 4.5)
print(t[0][2])

s

### Description: Write a program to check whether a string is a palindrome or not. Print 1 if the string is a palindrome and 0 otherwise.

In [5]:
st = input("Enter a string to check for pallindrome: ")
    if st == st[::-1]:  # check if the string is equal to the reverse of he string
    print(1)
else:
    print(2)

Enter a string to check for pallindrome: Nitika
akitiN
2

### Description: You will be given a sentence in the form of a string. You have to reverse the order of the words in the sentence. Remember not to reverse the individual words, but the order of words.

In [13]:
sentence = "The quick brown fox jumps over a lazy dog"
print("The input is: ", sentence)
words = []
words = sentence.split(" ")
#print(words)
print("The reversed order of words: ",str(words[::-1]))

The input is:  The quick brown fox jumps over a lazy dog
The reversed order of words:  ['dog', 'lazy', 'a', 'over', 'jumps', 'fox', 'brown', 'quick', 'The']

### String Formatting
#### Description: Write a program that satisfies below examples
##### Input 1: caloRie ConsuMed
##### Output 1: calorie_consumed

In [15]:
input_s = "caloRie ConsuMed"
print("Input: ", input_s)
print("Output: ", input_s.lower().replace(" ","_")) # convert to lower case and replace the " " with a "_"

Input:  caloRie ConsuMed
Output:  calorie_consumed

##### Input 2: data science
##### Output 2: data_science

In [16]:
input2 = "data science"
print("input : ",input2)
print("Output: ",input2.replace(" ","_"))

input :  data science
Output:  data_science

In [20]:
# Extract the word love
s = 'I love Python'
print(s[2:6])
print(s[-11:-7])

love
love

In [24]:
# output of 3 * 3 ** 3 be?

3 * 3 ** 3    ## right to left

81

In [25]:
# output of ((500//7) % 5) ** 3 ?
((500//7) % 5) ** 3

1

In [28]:
# What will be the output of this code?
T = (3, 5, 7, 11)
T.append(9)  # tuple has no attribute append and extend

AttributeError: 'tuple' object has no attribute 'append'

In [30]:
# What will be the output of this code?
l = [32,34,12,27,33]
l.append((14,19))

print(len(l))

6

In [32]:
# What will be the output of this code?
s = {1,2,3,5}
s.append(7)

AttributeError: 'set' object has no attribute 'append'

In [33]:
# What will be the output of this code?
d ={1:['Raj',22], 2:['Simaran',34],3:['sonorita',32]}
for val in d:
    print(val)

1
2
3

In [34]:
# What will be the output of this code?
print(list(range(10,1,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]